@keyframes shadow {
  from {
    box-shadow: 0 0 10px white;
  }
  50% {
    box-shadow: 0 0 30px white;
  }
  to {
    box-shadow: 0 0 10px white;
  }
}

#nameOfPar{
  width: 100%;
  text-align: center;
  font-size: 250%;
  padding: 1% 0;
  background-color: #FFEC8A;
}

#clicker{
  z-index: 2;
  position: absolute;
  display: block;
  animation: shadow  2s infinite ease-in-out;
  pointer-events: none;
  transition: all 0s;
}
#blackBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  -webkit-clip-path: polygon();
  transition: all 0s;
}

#description{
  width: 100%;
  text-align: center;
  font-size: 150%;
}
#dataPoints{
  display: flex;
}
#dpLeft p{
  position: relative;
  height: 3em;
  display: flex;
  align-items: center;
  margin-bottom: 0.64em;
  margin-left: 1em;
}
.line{
  position: relative;
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
}
.line p{
  margin-left: 1em;
}
.line input{
  width: 30em;
  height: 3em;
  margin-left: 1em;
}
.minus, .plus{
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  border: 0.05em solid red;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#image{
  position: relative;
}
#image > img{
  position: relative;
  width: 100%;
  pointer-events: none;
}

/* buttons */
#buttons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
#buttons > #prev:hover, #next:hover{
  background-color: #ffaf52;
}
#prev, #next{
  width: 15em;
  height: 3em;
  border-radius: 3em;
  border: 0.05em solid red;
  background-color: #FFEC8A;
  text-align: center;
  line-height: 3em;
  cursor: pointer;
  flex-shrink: 0;
}
#currentStep{
  width: 5em;
  height: 5em;
  border-radius: 3em;
  border: 0.05em solid red;
  background-color: #FFEC8A;
  text-align: center;
  line-height: 5em;
  margin: 0 1em;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#rightBlock ol{
  margin-left: 3em;
  margin-bottom: 2em;
}
#rightBlock li{
  line-height: 2em;
}
